
board, board.top-line {
  position: absolute;
  display: block;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
  padding: 10px;
}

board small {
  float: right;
  font-size: 13px;
}

/* flexbox container */
board > div {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}