/**
* Created by shuding on 6/10/15.
* <ds303077135@gmail.com>
*/
fetch, decode, execute, memory, write-back {
  display: flex;
  display: -webkit-flex;
  width: 100%;
}

fetch > h3, decode > h3, execute > h3, memory > h3, write-back > h3 {
  width: 120px;
  text-align: center;
  border: none;
}

fetch > div, decode > div, execute > div, memory > div, write-back > div {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  -webkit-flex: 1;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

pipe-attr {
  display: block;
  width: 100px;
  padding: 2px 5px;
}

pipe-attr h6, pipe-attr p {
  margin: 0;
}
